@page "/cart"

@inherits CartBase

@if(CartItems==null && ErrorMessage!=null)
{
    <ErrorMessage Message="@ErrorMessage" />
}
else if(CartItems==null && ErrorMessage == null)
{
    <div class="mb-3">
        <Spinner/>
        <div>Loading cart items...</div>
    </div>
}
else{
    if (CartItems.Count > 0)
    {
        <div class="row">
        <div style="padding: 0.5rem" class="card col">
        <h1>Shopping Cart</h1>
        @foreach (var item in CartItems)
       {
           <div id="cartItem">
                

            <div style="display: flex">
                <div id="cartItemImage" style="background-image: url(@item.ImageURL)"/>
                <div>
                <span>@item.BookTitle</span><br/>
                <span style="color: gray">By:</span><span>@item.AuthorName</span>
                 
                <div style="justify-content: space-between;"> 
                 <div > Quantity: 
                     <span class="oi oi-minus" style="color: red" id="qtyButton" @onclick="()=>UpdateQuantity(item.Id, item.Quantity-1)" >
                         </span> 
                     <span>@item.Quantity</span> 
                     <span class="oi oi-plus" style="color: green" id="qtyButton" @onclick="()=>UpdateQuantity(item.Id, item.Quantity+1)">
                         </span> 
                    
                 </div>
                  <span 
                      id="removeButton" class="oi oi-trash"
                      @onclick="()=>DeleteItem(item.Id)">
                      Remove</span>
            </div>
            </div>
            </div>
            
                <div style="font-weight: bold">GHS @item.TotalPrice</div>

  
        </div>
       }
        </div>
             <div class="col-md-3">
                <div class="card" style="padding: 0.3rem; height: 15vh; justify-content: space-between">
                    <div class="card-text">Subtotal (@TotalQuantity Items): <b>GHS @TotalPrice</b></div>
                    <a href="order-confirmation"><div class="btn btn-warning" >Proceed to Checkout</div></a>
                </div>
            </div>
        </div>

    }
    else
    {
        <h3>There are no items in your cart</h3>
    }

}

